<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ani 01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,106}</string>
                <key>spriteSourceSize</key>
                <string>{74,106}</string>
                <key>textureRect</key>
                <string>{{331,105},{74,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani 02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,120}</string>
                <key>spriteSourceSize</key>
                <string>{86,120}</string>
                <key>textureRect</key>
                <string>{{103,1},{86,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani 03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,100}</string>
                <key>spriteSourceSize</key>
                <string>{104,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{104,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani 04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,102}</string>
                <key>spriteSourceSize</key>
                <string>{90,102}</string>
                <key>textureRect</key>
                <string>{{317,1},{90,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani 05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,104}</string>
                <key>spriteSourceSize</key>
                <string>{78,104}</string>
                <key>textureRect</key>
                <string>{{225,107},{78,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani 06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,118}</string>
                <key>spriteSourceSize</key>
                <string>{82,118}</string>
                <key>textureRect</key>
                <string>{{1,107},{82,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani 07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,102}</string>
                <key>spriteSourceSize</key>
                <string>{98,102}</string>
                <key>textureRect</key>
                <string>{{121,89},{98,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani 08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,104}</string>
                <key>spriteSourceSize</key>
                <string>{90,104}</string>
                <key>textureRect</key>
                <string>{{225,1},{90,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ani.png</string>
            <key>size</key>
            <string>{438,190}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5cd692068c33f0fc3460932c74edb54:8579188367b3b9efc6a095b30db1ac82:a947db1362542e41d3137fb39c68eb0d$</string>
            <key>textureFileName</key>
            <string>ani.png</string>
        </dict>
    </dict>
</plist>
