<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ani (1)_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,106}</string>
                <key>spriteSourceSize</key>
                <string>{74,106}</string>
                <key>textureRect</key>
                <string>{{331,105},{74,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani (1)_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,120}</string>
                <key>spriteSourceSize</key>
                <string>{86,120}</string>
                <key>textureRect</key>
                <string>{{103,1},{86,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani (1)_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,100}</string>
                <key>spriteSourceSize</key>
                <string>{104,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{104,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani (1)_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,102}</string>
                <key>spriteSourceSize</key>
                <string>{90,102}</string>
                <key>textureRect</key>
                <string>{{317,1},{90,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani (1)_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,104}</string>
                <key>spriteSourceSize</key>
                <string>{78,104}</string>
                <key>textureRect</key>
                <string>{{225,107},{78,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani (1)_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,118}</string>
                <key>spriteSourceSize</key>
                <string>{82,118}</string>
                <key>textureRect</key>
                <string>{{1,107},{82,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani (1)_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,102}</string>
                <key>spriteSourceSize</key>
                <string>{98,102}</string>
                <key>textureRect</key>
                <string>{{121,89},{98,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ani (1)_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,104}</string>
                <key>spriteSourceSize</key>
                <string>{90,104}</string>
                <key>textureRect</key>
                <string>{{225,1},{90,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>anime.png</string>
            <key>size</key>
            <string>{438,190}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:674e036e00495989fa327ed567e84bc3:6ab06a27c1b0b3141393a4b30f01e0e0:8b982e8dc0c6e43bc13c21871b7d282a$</string>
            <key>textureFileName</key>
            <string>anime.png</string>
        </dict>
    </dict>
</plist>
